a:link { 
    text-decoration: none; 
}


a:visited { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

/* nav {
    background: -webkit-linear-gradient(left,#ff5f6d,#ffc371);
    background: rgb(27,131,184);
    background: linear-gradient(90deg, rgba(27,131,184,1) 46%, rgba(0,212,255,1) 100%);
} */