a:link { 
    text-decoration: none; 
}


a:visited { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

/* nav {
    background: -webkit-linear-gradient(left,#ff5f6d,#ffc371);
} */