.note
{
    text-align: center;
    height: 60px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 60px;
}
/* nav {
    background: -webkit-linear-gradient(left,#ff5f6d,#ffc371);
} */
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
.fa {
    padding-right: 30px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
  }
input[type=checkbox] {
    transform: scale(1.5);
    margin-top: 6px;
    }

#footer {
        position: fixed;
        /* padding: 10px 10px 0px 10px; */
        bottom: 0;
        width: 100%;
    }